body{
    background: #eeedec;
    letter-spacing: 0.2em;
    font-size: 0.8em;
}

.container{
    max-width: 400px;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }